# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log

# SQLite Database
db.sqlite3
db.sqlite3-journal

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Database backup
database_backup.json

# Collected static files
staticfiles/